.profile {
  max-width: 880px;
  min-height: 120px;
  margin: 0 auto;
  padding: 40px 0 0;
  color: #fff;
  display: flex;
  position: relative;
}

@media screen and (max-width: 696px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 424px) {
  .profile {
    padding: 42px 0 0;
  }
}
