.header__logo {
  height: 33px;
}

@media screen and (max-width: 900px) {
  .header__logo {
    padding-left: 27px;
  }
}

@media screen and (max-width: 360px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
  }
}
