.profile__add-button {
  width: 150px;
  height: 50px;
  border: 1px solid #FFF;
  background-image: url(../../../images/Add_button.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  align-self: center;
  margin-left: auto;
  box-sizing: border-box;
}

.profile__add-button:hover {
  opacity: .6;
  transition: opacity .3s;
  cursor: pointer;
}

@media screen and (max-width: 696px) {
  .profile__add-button {
    width: 282px;
    margin: 32px auto 0;
  }
}

@media screen and (max-width: 424px) {
  .profile__add-button {
    background-size: 16px;
  }
}
