.profile__info_edit-button {
  width: 25px;
  height: 25px;
  border: 1px solid #FFF;
  background-image: url(/images/Edit_button.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  align-self: center;
}

.profile__info_edit-button:hover {
  opacity: .6;
}
